
.cd-settings,
.cd-settings-wrapper {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cd-settings {
  --cd-settings-pad: calc(1.5em + 2.5vmax);
  position: absolute;
  margin: var(--cd-settings-pad);
  color: #ccc;
  background-color: #444;
  opacity: .7;
}

.cd-settings-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: var(--cd-settings-pad);
}

.cd-settings-field,
.cd-settings-label,
.cd-settings-input {
  font-size: calc(3vw - (.3vmax - .667vmin));
}

.cd-settings-field {
  width: 100%;
  margin-block-end: 1.5em;
}

.cd-settings-field:last-of-type {
  margin-block-end: 0;
}

.cd-settings-input-box {
  display: inline-flex;
}

.cd-settings-label {
  display: inline-block;
  min-width: 30%;
  padding-inline-end: 2em;
  text-align: right;
  font-size: .85em;
}

.cd-settings-input {
  margin: 0;
  padding: .1em;
  border: 0 none;
  outline: 0 none;
  border-radius: .7em;
  background-color: #eee;
}

.cd-settings-input[type="number"] {
  width: 2.2em;
  margin: .4em 0;
  padding-left: .75em;
  border-radius: 0;
}

.cd-settings-input[type="number"]:first-of-type {
  border-radius: .7em 0 0 .7em;
}

.cd-settings-input[type="number"]:last-of-type {
  border-radius: 0 .7em .7em 0;
}

.cd-settings-input[type="checkbox"] {
  appearance: none;
  padding-left: .5em;
  padding-right: .5em;
}

.cd-settings-input[type="checkbox"]:after {
  content: attr(data-unchecked);
}

.cd-settings-input[type="checkbox"]:checked:after {
  content: attr(data-checked);
}
