
:root {
  --redhat: #cb2026;
  --black: #0a0a07;
}

:root:after {
  /* pre-load icons, for better experience on state changes */
  background-image: url("./images/icons/play.svg"),
    url("./images/icons/pause.svg"),
    url("./images/icons/eject.svg"),
    url("./images/icons/stop.svg"),
    url("./images/icons/rotate.svg"),
    url("./images/icons/io.svg"),
    url("./images/icons/cog.svg");
}


html,
body {
  height: 100vh;
  overflow: hidden;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 100vh;
  padding: 10vmin;
  font-size: 1.2em;
  color: var(--redhat);
  background: var(--black) url("./images/banner.png") no-repeat 0 100%;
  background-size: 100vmin;
}

.App .App-title {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 .6em;
  width: 0;
  white-space: nowrap;
  font-size: calc(1em + 10vmin);
  font-weight: 100;
  letter-spacing: -.1em;
  font-family: helvetica, arial, sans-serif;
  opacity: .2;
  transform: rotate(90deg);
}

.App-top-menu {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  margin: 2em;
}

.App .App-main,
.App .App-config-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .App-main {
  margin-top: -15vmin;
}

.App .App-config-modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 3em;
  padding: 3em;
  color: #ccc;
  background-color: #444;
  opacity: .7;
}

.App .App-config-box {
  display: flex;
}

.App .App-config-label {
  display: inline-block;
  width: 100%;
  text-align: right;
  font-size: 1.5em;
}

.App .App-config-input {
  margin: .5em 0;
  font-size: calc(1em + 3vmax);
  padding: .1em;
  padding-left: 1em;
  border-radius: .7em;
  border: 0 none;
  outline: 0 none;
  background-color: white;
}

.App .App-config-input[type="number"] {
  width: 2em;
  border-radius: 0;
}

.App .App-time-display {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  line-height: 0;
  font-size: calc(1em + 7vmax);
  font-family: consolas, "Courier New", monospace;
  color: #aaa;
}

.App .App-laps-display {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3vmin;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  transition: all 1s ease-in-out;
}

.App .App-laps-item {
  position: relative;
  display: inline-block;
  padding: 0;
  background-color: #fff;
  opacity: .5;
  transition: padding 1s ease-in-out;
}

/* a little pseudo flag for each lap :) */
.App .App-laps-item:before,
.App .App-laps-item:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  background-color: #fff;
}
.App .App-laps-item:before {
    height: 3em;
    width: .1em;
    z-index: 1;
}
.App .App-laps-item:after {
    bottom: 2em;
    box-sizing: border-box;
    width: 2em;
    height: 1em;
    border-color: transparent transparent transparent red;
    border-style: solid;
    border-width: .5em .25em .5em 1.75em;
    background-color: transparent;
}


.App .App-laps-item:last-of-type {
  border-right: 0 none;
}

.App [class^="App-button-"] {
  width: calc(1em + 5vmax);
  height: calc(1em + 5vmax);
  margin-inline-end: 2vmax;
  border: 3px solid var(--redhat);
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40%;
  background-color: var(--black);
  cursor: pointer;
  opacity: .7;
}
.App [class^="App-button-"]:last-of-type {
  margin-inline-end: 0;
}
.App .App-button-start {
  background-image: url("./images/icons/play.svg");
}
.App .App-button-pause {
  background-image: url("./images/icons/pause.svg");
}
.App .App-button-resume {
  background-image: url("./images/icons/eject.svg");
  transform: rotate(90deg);
}
.App .App-button-stop {
  background-image: url("./images/icons/stop.svg");
}
.App .App-button-lap {
  background-image: url("./images/icons/rotate.svg");
  background-size: 60%;
  background-position: 50% 40%;
  transform: rotate(90deg);
}
.App .App-button-clear {
  background-image: url("./images/icons/io.svg");
  background-size: 60%;
  background-position: 50% 45%;
}
.App .App-button-config {
  background-image: url("./images/icons/cog.svg");
}


.spinPulse {
  animation:  spin 2s linear,
              pulse 4s linear var(--pulse-delay);
  animation-fill-mode: forwards;
}

@keyframes spin {
  from { transform: rotate(-270deg) }
  to { transform: rotate(90deg) }
}

@keyframes pulse {
	0% {
		transform: rotate(-270deg) scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	10% {
		transform: rotate(-270deg) scale(1);
		box-shadow: 0 0 0 10px rgba(200, 200, 200, 0.3);
	}

	100% {
		transform: rotate(-270deg) scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
