
:root {
  --redhat: #cb2026;
}

:root:after {
  /* pre-load icons, for better experience on state changes */
  background-image: url("./images/icons/play.svg"),
    url("./images/icons/pause.svg"),
    url("./images/icons/eject.svg"),
    url("./images/icons/stop.svg"),
    url("./images/icons/rotate.svg"),
    url("./images/icons/io.svg");
}


html,
body {
  height: 100vh;
  overflow: hidden;
}

.App {
  box-sizing: border-box;
  height: 100vh;
  padding: 10vmin;
  font-size: 1.2em;
  color: var(--redhat);
  background: #0a0a07 url("./images/banner.png") no-repeat 0 100%;
  background-size: 100vmin;
}

.App .App-title {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 .6em;
  width: 0;
  white-space: nowrap;
  font-size: calc(1em + 10vmin);
  font-weight: 100;
  letter-spacing: -.1em;
  font-family: helvetica, arial, sans-serif;
  opacity: .2;
  transform: rotate(90deg);
}

.App .App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App .App-time-display {
  line-height: 0;
  font-size: calc(1em + 7vmax);
  font-family: consolas, "Courier New", monospace;
  color: #aaa;
}

.App .App-laps-display {

}

.App .App-controls [class^="App-button-"] {
  width: calc(1em + 5vmax);
  height: calc(1em + 5vmax);
  margin-inline-end: 2vmax;
  border: 3px solid var(--redhat);
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 40%;
  background-color: transparent;
  cursor: pointer;
  opacity: .7;
}
.App .App-controls [class^="App-button-"]:last-of-type {
  margin-inline-end: 0;
}
.App-controls .App-button-start {
  background-image: url("./images/icons/play.svg");
}
.App-controls .App-button-pause {
  background-image: url("./images/icons/pause.svg");
}
.App-controls .App-button-resume {
  background-image: url("./images/icons/eject.svg");
  transform: rotate(90deg);
}
.App-controls .App-button-stop {
  background-image: url("./images/icons/stop.svg");
}
.App-controls .App-button-lap {
  background-image: url("./images/icons/rotate.svg");
  background-size: 55%;
  transform: rotate(-90deg);
}
.App-controls .App-button-clear {
  background-image: url("./images/icons/io.svg");
  background-size: 55%;
}
