.App {
  white-space: wrap;
  word-wrap: break-word;
  padding: 5vmax;
  font-size: 1.2em;
}

.App-main,
.App-header {
  text-align: center;
}

.App hr {
  margin: 1em 0;
}

.App-header h1 {
  font-size: 3em;
}

.App-header button {
  font-size: 1.2em;
}

.App-main pre {
  line-height: 0;
  font-size: calc(20px + 5vmax);
}
